/target
/.vscode
.DS_Store

# clangd
/.cache
compile_commands.json

# downloaded opensbi binary
/fw_dynamic.bin

*.asm
*.img
actual.out
qemu.log
rusty-tags.vi
apps/c/redis/
apps/c/iperf/
apps/c/wamr/
apps/c/nginx/
*.log
modules/ruxattt
modules/ruxfuse/src/fuse_st.rs
modules/ruxfuse/src/devfuse.rs
modules/ruxfs/src/fuse.rs
crates/axfs_devfs/src/fuse.rs
crates/axfs_devfs/src/fuse_dev.rs
modules/ruxfs/src/vda.rs